<div class="wizard__action" data-block="<%= action.id %>">
  <h2><%= action.header %></h2>
  <div><%= render action.body %></div>

  <% if @info_request %>
    <%= f.fields_for 'actions[]', action, include_id: false do |f| %>
      <%= render action.suggestions, f: f %>
    <% end %>

    <%= f.button name: "#{f.object_name}[button]", value: action.id, class: 'button' do %>
      <%= action.button %>
    <% end %>
  <% else %>
    <%= render action.suggestions %>
  <% end %>
</div>
